* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  background: #faf5ce;
  color: #040209;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 2rem;
  text-decoration: underline;
}

.search-bar {
  display: flex;
}

.search {
  max-width: 200px;
  padding: 1rem;
  box-shadow: 3px 3px 0px #000;
  border: 1px solid #000;
  font-family: inherit;
  font-size: 0.6rem;
}

header input {
  border-radius: 12px 0 0 12px;
}

header button {
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

section h3 {
  margin: 2rem;
}

#pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;
  gap: 1rem;
  list-style: none;
  margin: 1rem;
}

.pokemon-card {
  background: #ffefe2;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 1rem;
  text-align: center;
  box-shadow: 3px 3px 0px #000;
  cursor: pointer;
  transition: transform 150ms ease-out, box-shadow 150ms ease-out;
}
.pokemon-card img {
  max-width: 75%;
  height: auto;
  transition: transform 150ms ease-out;
}

.pokemon-card:hover {
  transform: translateY(-1px);
  box-shadow: 4px 4px 0 #000;
}

.pokemon-card:hover img,
.pokemon-card:focus-within img {
  transform: scale(1.1);
}

.pokemon-card h2 {
  font-size: 0.6rem;
  margin: 0.5rem;
}
