* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", system-ui;
  background: #faf5ce;
  color: #040209;
  text-align: center;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  margin: 2rem;
  text-decoration: underline;
}

.search-bar {
  display: flex;
}

.search {
  max-width: 200px;
  padding: 1rem;
  box-shadow: 3px 3px 0px #000;
  border: 1px solid #000;
  font-family: inherit;
  font-size: 0.6rem;
}

header input {
  border-radius: 12px 0 0 12px;
}

header button {
  border-radius: 0 12px 12px 0;
  cursor: pointer;
}

section h3 {
  margin: 2rem;
}

#pokemon-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  width: 100%;
  gap: 1rem;
  list-style: none;
  margin: 1rem;
}

#pokemon-list > li:only-child {
  grid-column: 1 / -1;
  justify-self: center;
  width: 220px;
}

.pokemon-card {
  background: #ffefe2;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem 1rem;
  text-align: center;
  box-shadow: 3px 3px 0px #000;
  cursor: pointer;
  transition: transform 150ms ease-out, box-shadow 150ms ease-out;
}
.pokemon-card img {
  max-width: 75%;
  height: auto;
  transition: transform 150ms ease-out;
}

.pokemon-card:hover {
  transform: translateY(-1px);
  background: #ecdccf;
  box-shadow: 5px 5px 0 #000;
}

.pokemon-card:hover img {
  transform: scale(1.1);
}

.pokemon-card h5 {
  font-size: 0.5rem;
  margin: 0.5rem;
  color: rgb(53, 53, 53);
}

.pokemon-card h2 {
  font-size: 0.6rem;
  margin: 0.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 3rem;
  border-radius: 12px;
  background: #ffefe2;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-header img {
  max-width: 120px;
  height: auto;
  margin-bottom: 0.5rem;
}

.modal-info {
  text-align: left;
  margin-bottom: 1rem;
  font-size: 0.85rem;
}

.modal h3 {
  margin: 0;
}

.modal h4 {
  margin: 0.5rem;
}

.modal p {
  padding: 0.1rem 0;
}

.stats-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem 1rem;
  font-size: 0.8rem;
  text-align: left;
}

.stat-name {
  font-weight: bold;
  text-align: left;
}

.stat-value {
  text-align: left;
}

.close {
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.close:hover {
  color: #e74c3c;
}

.hidden {
  display: none;
}
